<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Order Notification</title>

        <p>order id: {{ order.id }}</p>
        <p>address: {{ address }}</p>
        <p>products: <br/>{% for product in order.products.all %}{{ product }}<br/>{% endfor %}</p>
</head>
<body>

</body>
</html>